@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Staatliches&display=swap');

body {font-family: 'Lato', sans-serif; font-weight:600; background:#ccc; }
h1, h2 {font-family: 'Staatliches', cursive;}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top:0;
  left:0;
  min-width: 100%;
  min-height: 100%;
}
.videoBackdrop {content:''; top:0; left:0; background:#000; position: fixed; opacity:0.2; z-index:1; height:100%; width:100%;}
.homePage .brandHome img {
  margin-top: 30px;
  max-width: 300px;
  display: inline-block;
}

.brandHome h1 {
  color: #fff;
  letter-spacing: 1px;
  max-width: 740px;
  margin: 30px auto 0 auto;
  font-size: 55px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.homePage, .wb-navbar {
  position: relative;
  z-index: 9;
}
.wb-navbar a.navbar-brand img {
  max-width: 150px;
}

.wb-navbar li.nav-item a {
  font-size: 13px;
  color: #fff !important;
}
.wb-navbar li.nav-item .dropdown-menu a {
  color:#222 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width:570px) {
  .homePage .brandHome img {max-width:250px;}
  .brandHome h1 {font-size:36px;}
}